{% extends 'charmsapp/base.html' %}
{% comment %}
{# charmsapp/templates/charmsapp/review.html #}
{#<!--{% load render_table from django_tables2 %}-->#}
{% endcomment %}

{% block custom_css %}
<!-- Add the DataTables CSS (just for review.html) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
{% endblock custom_css %}

{% block title %}
CHARMS REVIEW
{% endblock %}

{% block side_navigation %}
<a href={% url 'charmsapp:index_view' %}>Home</a>
<a href={% url 'charmsapp:upload_view' %}>Upload</a>
{% endblock side_navigation %}

{% block main_content %}
<h1>DATA REVIEW</h1>
<hr />
{#<!--{% render_table test_data %}-->#}
<div>
    <p>Min Number: <span><input type="text" id="min" name="min"></span></p>
    <p>Max Number: <span><input type="text" id="max" name="max"></span></p>
</div>
<div></div>
<table class="table table-sm" id="example">
    <thead>
        <tr>
            {% comment %}
            <!--
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Favorite Number</th>
            <th scope="col">Date</th>
            -->
            {% endcomment %}
            {% for header in headers %}
            <th scope="col"> {{ header }} </th>
            {% endfor %}
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for data in test_data %}
        <tr>
            <td scope="row"> {{ data.id }}</td>
            <td scope="row" class="editable" id="{{ data.id }}" data-type="first_name"> {{ data.first_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" data-type="last_name"> {{ data.last_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" data-type="email"> {{ data.email }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" data-type="fav_number"> {{ data.fav_number }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" data-type="sample_date"> {{ data.sample_date }} </td>
            <td><a href="/delete_data/{{data.id}}" class="btn btn-danger">Delete</a><br><a class="btn btn-success" href="/update_data/{{data.id}}">Update</a></td>
            {% comment %}
            <!--
            <td scope="row"> {{ data.id }}</td>
            <td scope="row" class="editable" id="{{ data.id }}" type="first_name"> {{ data.first_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="last_name"> {{ data.last_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="email"> {{ data.email }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="fav_number"> {{ data.fav_number }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="sample_date"> {{ data.sample_date }} </td>
            <td><a href="/delete_data/{{data.id}}" class="btn btn-danger">Delete</a><br><a class="btn btn-success" href="/update_data/{{data.id}}">Update</a></td>
            -->
            <td scope="row"> Edit </td>
            {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main_content %}

{% block custom_javascript %}
<script src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript">
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var age = parseFloat(data[4]) || 0; // use data for the age column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= age && isNaN(max)) ||
                (min <= age && age <= max)) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        var table = $('#example').DataTable();
        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });

        $(document).on("dblclick", ".editable", function () {
            var value = $(this).text();
            var data_type = $(this).data("type");
            var input_type = "text";
            if (data_type == "created_at") {
                input_type = "datetime-local";
            }
            var input = "<input type='" + input_type + "' class='input-data' value='" + value + "' class='form-control'>";
            $(this).html(input);
            $(this).removeClass("editable")
        });

        $(document).on("blur", ".input-data", function () {
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });

        $(document).on("keypress", ".input-data", function (e) {
            var key = e.which;
            // If you press the enter key
            if (key == 13) {
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type = td.data("type");
                // prevent page from refreshing
                e.preventDefault();
                sendToServer(td.data("id"), value, type);
            }
        });

        // Function to send our data to the server
        function sendToServer(id, value, type) {
            console.log(id);
            console.log(value);
            console.log(type);

            $.ajax({
                url: "/review",
                type: "POST",
                data: { id: id, type: type, value: value },
            })
                .done(function (response) {
                    console.log(response);
                })
                .fail(function () {
                    console.log("Error Occured");
                });
        }
    });
</script>
{% endblock custom_javascript %}