{# charmsapp/templates/charmsapp/review.html #}
{% extends 'charmsapp/base.html' %}
{#<!--{% load render_table from django_tables2 %}-->#}

{% block custom_css %}
{#<!-- Add the DataTables CSS (just for review.html) -->#}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
{% endblock custom_css %}

{% block title %}
CHARMS REVIEW
{% endblock %}

{% block side_navigation %}
<a href={% url 'charmsapp:index_view' %}>Home</a>
<a href={% url 'charmsapp:upload_view' %}>Upload</a>
{% endblock side_navigation %}

{% block main_content %}
<h1>DATA REVIEW</h1>
<hr />
{#<!--{% render_table test_data %}-->#}
<div id="data-filters">
    <p>
        Min Number: <span><input type="text" id="min" name="min"></span>
        Max Number: <span><input type="text" id="max" name="max"></span>
    </p>
</div>
<div id="button-group">
    <p>
        Table Options: 
        <input type="button" class="add-row" value="Add Row">
        <input type="button" class="delete-row" value="Delete Row">
    </p>
</div>
<table class="table table-sm" id="example">
    <thead>
        <tr>
            {% comment %}
            <!--
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Favorite Number</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            -->
            {% endcomment %}
            <th scope="col"></th>
            {% for header in headers %}
            <th scope="col"> {{header}} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for data in test_data %}
        <tr>
            <td scope="row"><input type="checkbox" name="record" data-id="{{ data.id }}"></td>
            <td scope="row">{{data.id}}</td>
            <td scope="row" class="editable" data-id="{{ data.id }}" data-type="first_name"> {{ data.first_name }} </td>
            <td scope="row" class="editable" data-id="{{ data.id }}" data-type="last_name"> {{ data.last_name }} </td>
            <td scope="row" class="editable" data-id="{{ data.id }}" data-type="email"> {{ data.email }} </td>
            <td scope="row" class="editable" data-id="{{ data.id }}" data-type="fav_number"> {{ data.fav_number }} </td>
            <td scope="row" class="editable" data-id="{{ data.id }}" data-type="sample_date"> {{ data.sample_date|date:"m/d/Y"}} </td>
            {% comment %}
            <!--
            <td scope="row"> {{ data.id }}</td>
            <td scope="row" class="editable" id="{{ data.id }}" type="first_name"> {{ data.first_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="last_name"> {{ data.last_name }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="email"> {{ data.email }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="fav_number"> {{ data.fav_number }} </td>
            <td scope="row" class="editable" id="{{ data.id }}" type="sample_date"> {{ data.sample_date }} </td>
            <td><a href="/delete_data/{{data.id}}" class="btn btn-danger">Delete</a><br><a class="btn btn-success" href="/update_data/{{data.id}}">Update</a></td>
            
            <td class="btn btn-danger" onclick="remove_data( {{ data.id }} )"> Delete </td>

            -->
            <td scope="row"> Edit </td>
            {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main_content %}

{% block custom_javascript %}
<script src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript">
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var age = parseFloat(data[4]) || 0; // use data for the age column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= age && isNaN(max)) ||
                (min <= age && age <= max)) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        var table = $('#example').DataTable(
            {
                "order": [], //Initial no order.
                //Set column definition initialisation properties.
                "columnDefs": [
                    {
                        "targets": [0], //first column / numbering column
                        "orderable": false, //set not orderable
                    },
                ],
            },
        );
        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });

        $(document).on("dblclick", ".editable", function () {
            var value = $(this).text();
            var data_type = $(this).data("type");
            var input_type = "text";
            if (data_type == "sample_date") {
                input_type = "date";
            }
            var input = "<input type='" + input_type + "' class='input-data' value='" + value + "' class='form-control'>";
            $(this).html(input);
            $(this).removeClass("editable")
        });

        $(document).on("blur", ".input-data", function () {
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });

        // JavaScript that is triggered when the enter button is pressed
        $(document).on("keypress", ".input-data", function (e) {
            var key = e.which;
            if (key == 13) {
                e.preventDefault();
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type = td.data("type");
                console.log(td.data("id"));
                sendToServer(td.data("id"), value, type);
            }
        });
        
        // Add a new row to the data
        $(".add-row").click(function () {
            var first_name = $("#first_name").val();
            var last_name = $("#last_name").val();
            var email = $("#email").val();
            var fav_number = $("#email").val();
            var sample_date = $("#sample_date").val();
            var markup = "<tr> <td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    console.log($(this).data("id"));
                    if ($(this).data("id") != undefined) {
                        remove_data($(this).data("id"));
                        $(this).parents("tr").remove();
                    }
                    else {
                        console.log("data-id is undefined");
                    }
                }
            });
        });

        // Function to send our data to the server
        function sendToServer(id, value, type) {
            console.log(id);
            console.log(value);
            console.log(type);

            $.ajax({
                url: "update",
                type: "POST",
                data: { id: id, type: type, value: value },
            })
                .done(function (response) {
                    console.log(response);
                })
                .fail(function () {
                    console.log("Error Occured");
                });
        }
    });

    function remove_data(in_id) {
        console.log(in_id);
        $.ajax({
            url: "delete",
            type: "POST",
            data: { id: in_id },
        })
            .done(function (response) {
                console.log(response);
            })
            .fail(function () {
                console.log("Error Occured");
            });
    }
</script>
{% endblock custom_javascript %}