{# charmsapp/templates/charmsapp/upload.html #}
{% extends 'charmsapp/base.html' %}

{# Set the title of the view #}
{% block title %}
    CHARMS UPLOAD
{% endblock title %}

{% block side_navigation %}
<a href={% url 'charmsapp:index_view' %}>Home</a>
<a href={% url 'charmsapp:review_view' %}>View Data</a>
{% endblock side_navigation %}

{% block main_content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <p>
                {{ message }}
            </p>
        </div>
    {% endfor %}
{% endif %}

<h1>FILE UPLOAD</h1>
<hr />
<h3>Please select a Charms report to upload</h3>
<form action="{% url 'charmsapp:upload_view' %}" method="post" enctype="multipart/form-data">
    {# <!--<form action='' method="post" enctype="multipart/form-data">--> #}
    {% csrf_token %}
    <input type="file" title="Upload excel file" name="excel_file"
           style="border: 1px solid black; padding: 5px;" required="required">
    <p></p>
    <input type="submit" value="Upload" class="upload">
</form>
<p></p>
<hr>
<div>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                {% for header in excel_data.headers  %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in excel_data %}
            {% if forloop.first or forloop.last %}
            <tr>
                {% for cell in row %}
                <td scope="row"> {{ cell }} &#x2003 </td>
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_content %}